article{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em;
}
.card{
    text-align: center;
    margin: 1em;
}
#top{
    background-color: black;
}
#top2{
    background-color: #53b050;
}
#top-heading{
    color: white;
}
#second{
    background-color: #eeeeee;
}
#second-heading{
    color: black;
}
#bottom{
    background-color: #eeeeee;
}
button{
    border-radius: 0px !important;
    width: 8em;
}
@media only screen and (max-width: 800px) {
    article {
        justify-content: center;
    }
}